/*
  Main Color: #ffe142
  Second Color: #002cff
*/

@import "./_mixins.scss";
@import "./_variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $backColor;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $mainColor;
  border-radius: 4px;
  transition: 0.3s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;

  @include sm {
    width: 540px;
  }

  @include md {
    width: 720px;
  }

  @include lg {
    width: 960px;
  }

  @include xl {
    width: 1140px;
  }

  @include xxl {
    width: 1320px;
  }
}
