@import "../../../_mixins.scss";
@import "../../../_variables.scss";

.home {
  .hero {
    height: 100vh;

    .header {
      height: 100px;

      > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
          height: 80px;

          @include md {
            flex: 1;
          }
        }

        .links {
          display: none;
          flex: 2;
          align-items: center;
          justify-content: space-between;

          @include md {
            display: flex;
          }

          ul {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-around;

            a {
              li {
                color: white;
                transition: color 0.3s;

                &:hover {
                  color: $mainColor;
                }
              }
            }
          }

          .lang {
            color: white;
            display: flex;
            align-items: center;
            gap: 10px;
            text-transform: uppercase;
            transition: color 0.3s;
            cursor: pointer;

            &:hover {
              color: $mainColor;
            }
          }
        }

        .menu {
          padding-left: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          overflow: hidden;

          @include md {
            display: none;
          }

          .hamburger {
            position: relative;
            z-index: 999;
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;

            &.active span:nth-child(1) {
              transform: rotate(45deg) translate(5.5px, 5.5px);
            }

            &.active span:nth-child(2) {
              width: 0px;
              transform: translate(50%);
            }

            &.active span:nth-child(3) {
              transform: rotate(-45deg) translate(5.5px, -5.5px);
            }

            span {
              display: inline-block;
              background-color: white;
              height: 2.5px;
              border-radius: 1.25px;
              width: 25px;
              transition: all 0.3s ease-in-out 0.3s;
            }
          }

          .menuBody {
            height: 100vh;
            left: 0;
            top: 0;
            position: fixed;
            width: 35%;
            height: 100vh;
            z-index: 998;

            .closeMenu {
              color: white;
              position: absolute;
              top: 32.5px;
              left: 14px;
              z-index: 999;
              opacity: 0;
              transition: 0.3s ease-in-out 0.5s;

              &.active {
                opacity: 1;
              }
            }

            .menuLinks {
              padding: 20px;
              padding-top: 100px;
              top: 0;
              height: 100%;
              background-color: $backColor;
              position: fixed;
              z-index: 998;
              transform: translateX(-100%);
              transition: 0.3s;

              &.active {
                transform: translateX(0);
              }

              ul {
                display: flex;
                flex-direction: column;
                gap: 15px;
                margin-bottom: 20px;

                a {
                  color: white;
                  transition: color 0.3s;

                  &:hover {
                    color: $mainColor;
                  }

                  li {
                    font-weight: 300;
                  }
                }
              }

              hr {
                border-radius: 50%;
              }

              .menuLang {
                color: white;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 20px 0;
                gap: 5px;
                margin: auto;
                text-transform: uppercase;
              }

              .menuSocialLinks {
                display: flex;
                flex-direction: column;
                padding: 25px 0;
                gap: 20px;

                a {
                  width: 50px;
                  height: 50px;
                  margin: auto;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  color: white;
                  border-radius: 4px;
                }

                .facebook {
                  background-color: #316ff6;
                }

                .twitter {
                  background-color: #00acee;
                }

                .instagram {
                  background: linear-gradient(
                    45deg,
                    #f09433 0%,
                    #e6683c 25%,
                    #dc2743 50%,
                    #cc2366 75%,
                    #bc1888 100%
                  );
                }

                .youtube {
                  background-color: #cd201f;
                }
              }
            }

            .menuOverlay {
              width: 100vw;
              height: 100vh;
              top: 0;
              left: 0;
              position: fixed;
              z-index: 997;
              background-color: rgba(0, 0, 0, 0.8);
              transform: translateY(-100%);
              opacity: 0;
              transition: 0.3s;

              &.active {
                transform: translateY(0);
                opacity: 1;
              }
            }
          }
        }
      }
    }

    .backvideo {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .content {
      overflow: hidden;
      height: calc(100vh - 100px);
      color: white;

      .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 50px 0;

        .text {
          h2 {
            font-weight: 500;
            font-size: 30px;
            text-align: center;

            @include md {
              text-align: start;
              font-size: 60px;
            }
          }

          p {
            width: 50%;
            line-height: 1.6;
            padding: 10px 5px;
            display: none;

            @include md {
              display: block;
            }
          }
        }

        .subscribe {
          margin: auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          @include md {
            display: block;
            margin: 0;
          }

          .btn {
            width: 200px;
            display: flex;
            flex-direction: column;
            margin: 15px 0;
            position: relative;

            button {
              width: 200px;
              height: 90px;
              color: white;
              background-color: $backColor;
              border: 1px solid $mainColor;
              transition: 0.3s;
              cursor: pointer;
              font-size: 18px;
              border-radius: 4px;

              &:hover {
                background-color: $mainColor;
                color: $backColor;
              }
            }

            span {
              transform: translateY(200px);
              opacity: 0;
              display: inline-block;
              position: absolute;
              bottom: -100%;
              left: 0;
              width: 200px;
              z-index: 996;
              text-align: center;
              background-color: $backColor;
              padding: 5px;
              border-radius: 4px;
              border: 1px solid $mainColor;
              transition: 0.3s;

              &::before {
                content: "";
                width: 1px;
                height: 1px;
                top: -50%;
                left: 50%;
                transform: translateX(-50%);
                position: absolute;
                border: 20px solid transparent;
                border-bottom: 20px solid $backColor;
              }
            }

            &:hover span {
              opacity: 1;
              transform: translateY(0);
            }
          }

          > a {
            color: $mainColor;
            font-size: 24px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            padding: 20px 0;
            position: relative;
            margin: 10px 0;
            display: inline-block;

            &::before {
              content: "";
              position: absolute;
              width: 0px;
              height: 2px;
              background-color: $mainColor;
              bottom: 15px;
              left: 50%;
              transition: 0.4s;
              transform: translateX(-50%);
            }

            &:hover::before {
              width: 100%;
            }
          }
        }

        form {
          display: flex;
          gap: 10px;
          margin: auto;
          flex-wrap: wrap;
          justify-content: center;

          @include md {
            margin: 0;
            justify-content: start;
          }

          input {
            width: 200px;
            height: 50px;
            font-size: 18px;
            text-indent: 10px;
            border-radius: 4px;
            border: 1px solid $mainColor;
            background-color: $backColor;
            color: $mainColor;
            outline: none;

            @include md {
              width: 280px;
            }

            &::placeholder {
              color: $mainColor;
              font-size: 12px;
            }
          }

          button {
            border: 1px solid $mainColor;
            border-radius: 4px;
            height: 50px;
            padding: 0 20px;
            background-color: $mainColor;
            color: $backColor;
            transition: 0.3s;
            cursor: pointer;

            &:hover {
              background-color: $backColor;
              color: $mainColor;
            }
          }
        }
      }
    }

    > .socialLinks {
      position: absolute;
      top: 25%;
      left: 0;
      display: none;

      @include md {
        display: block;
      }

      a {
        color: white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }

      .facebook {
        background-color: #316ff6;
        border-radius: 0 4px 0 0;
      }

      .twitter {
        background-color: #00acee;
      }

      .instagram {
        background: linear-gradient(
          45deg,
          #f09433 0%,
          #e6683c 25%,
          #dc2743 50%,
          #cc2366 75%,
          #bc1888 100%
        );
      }

      .youtube {
        background-color: #cd201f;
        border-radius: 0 0 4px 0;
      }
    }

    .help {
      background-color: #25d366;
      color: white;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 20px;
      right: 20px;
      cursor: pointer;
      z-index: 996;

      span {
        position: absolute;
        right: calc(100% + 10px);
        display: inline-block;
        width: 85px;
        font-size: 12px;
        padding: 5px;
        border-radius: 2px;
        text-align: center;
        background-color: $backColor;
        transform: translateY(200px);
        opacity: 0;
        transition: 0.3s;
      }

      &:hover span {
        transform: translate(0);
        opacity: 1;
      }
    }
  }

  .howToSubscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    @include lg {
      height: 100vh;
    }

    .head {
      flex: 1;

      h3 {
        color: $backColor;
        font-weight: bold;
        text-transform: uppercase;
      }

      hr {
        width: 50%;
        margin: 10px auto 20px;
        border-color: $mainColor;
      }
    }

    .body {
      flex: 3;

      .thunbnail {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        img {
          border-radius: 10px;
          width: 80%;
          margin: auto;
        }

        svg {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .subscribeVideo {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      justify-content: center;
      align-items: center;

      &.active {
        display: flex;
      }

      iframe {
        position: relative;
        z-index: 1001;
        width: 75%;
        aspect-ratio: 16/9;
      }

      .subscribeOverlay {
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1000;
      }

      .subscribeClose {
        color: white;
        z-index: 1001;
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 10px;
      }
    }
  }
}
