@import "../../_variables.scss";
@import "../../animations.scss";

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: $backColor;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  transform: translateY(-100%);
  transition: 0.5s ease-in-out 1s;

  &.active {
    transform: translateY(0);
  }

  img {
    width: 50%;
    animation: fadeInOut 2s ease-in-out 1s alternate infinite;
  }
}
