@import "../../variables";

footer {
  direction: ltr;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backColor;
  color: white;

  a {
    margin-left: 5px;
    color: white;
    transition: 0.3s;

    &:hover {
      color: $mainColor;
    }
  }
}
